@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


:root {
    --base: #555;
    --base-100: #d3d3d3;
    --base-400: #555;
    --base-800: #000;
    --yellow: #ffda4b;
    --yellow-100: #fffbe6;
    --yellow-400: #ffda4b;
    --yellow-800: #8b6f00;
    --blue: #0a61ae;
    --blue-100: #e2f8ff;
    --blue-400: #61dafb;
    --blue-800: #0a61ae;
    /*========== Colors ==========*/
    --first-color: hsl(82, 60%, 28%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --body-color: hsl(0, 0%, 95%);
    --container-color: hsl(0, 0%, 100%);
    --yellow-100: hsl(51, 100%, 88%);
    --base-800: hsl(0, 0%, 20%);
    --base-100: hsl(0, 0%, 100%);

    /*========== Font and typography ==========*/
    --body-font: "Poppins", sans-serif;
    --h2-font-size: 1.25rem;
    --small-font-size: .813rem;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1120px) {
    :root {
        --h2-font-size: 1.5rem;
        --small-font-size: .875rem;
    }
}


a {
    text-decoration: none;
    color: var(--blue);

    &:hover {
        text-decoration: underline;
    }
}

body {
    font-family: "Fira Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 20px;
}

header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .logo-holder {
        display: flex;
        padding: 10px;
        align-items: center;
        font-weight: 600;
        color: var(--base-800);

        .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            background-color: var(--base-800);
            color: var(--base-100);
            height: 64px;
            width: 64px;
            margin-right: 20px;
            border-radius: 50%;

        }

        .logo-text {
            flex: 1;

        }
    }

    nav {
        display: flex;
        align-items: center;

        ul {
            display: flex;
            list-style-type: none;
            gap: 5px;

            li {
                display: inline-block;

                a {
                    display: inline-block;
                    padding: 10px 20px;
                    color: var(--base);

                    &:hover {
                        background: var(--base-100);
                        border-radius: 10px;
                        text-decoration: none;
                    }
                }

            }
        }

        .mobile-toggle {
            display: none;
            color: var(--base-800);
            padding: 10px;

            @media (max-width:768px) {
                display: inline-block;
                position: absolute;
                top: 20px;
                right: 20px;

            }
        }
    }


    @media (max-width:1024px) {
        flex-direction: column;
        align-items: center;
    }

    @media (max-width:768px) {
        flex-direction: column;
        align-items: center;

        nav {
            margin-top: 10px;
            width: 100%;

            ul {
                display: none;
                flex-direction: column;
                text-align: center;
                width: 100%;

                a {
                    width: 100%;
                }

                &.active {
                    display: flex;
                }
            }
        }

    }
}

section {
    max-width: 1440px;
    margin: auto;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;

    @media screen {
        padding-left: 30px;
        padding-right: 30px;
    }
}

.button {
    display: inline-block;
    padding: 10px 30px;
    background-color: var(--blue);
    color: var(--base-100);
    border-radius: 10px;
    transition: ease 0.3s all;

    &:hover {
        text-decoration: none;
        background-color: var(--base-800)
    }

    &.white {
        background-color: white;
        color: var(--base-800);

        &:hover {
            background-color: var(--base-100);
            color: var(--blue);
        }
    }

    &.black {
        background-color: black;
        color: white;

        &:hover {
            background-color: var(--base);
            color: var(--blue-1 00);
        }
    }
}


h1 {
    font-size: 64px;
    line-height: 1;

    small {
        font-size: 50px;
        display: block;
        font-weight: 100;
    }

    @media(max-width :1024px) {
        font-size: 48px;
    }
}

.hero {
    display: flex;

    @media (max-width:1024px) {
        flex-direction: column;

    }

    .hero-blue {
        flex: 1;
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        span {
            @media (max-width:768px) {
                display: none;
            }
        }

        .call-to-action {
            margin-top: 20px;
            margin-bottom: 10px;

            a {
                margin-right: 10px;
                margin-bottom: 10px;
            }
        }

        .social-link {
            a {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }

    .hero-yellow {
        flex: 1;
        background-color: var(--yellow);
        border-radius: 30px;
        padding: 0px 30px;
        display: flex;
        justify-content: center;
        align-items: flex-end;

        img {
            margin-top: 60px;
            max-width: 420px;
            margin-bottom: -10px;
        }
    }
}

.logo {
    background-color: var(--yellow-100);
    border-radius: 30px;
    padding: 20px 0px;

    @media (max-width:1024px) {
        border-radius: 0px;
    }

    .marquee {
        width: 100vw;
        max-width: 100%;
        height: 128px;
        overflow: hidden;
        position: relative;

        .track {
            position: absolute;
            white-space: nowrap;
            will-change: transform;
            animation: marquee 40s linear infinite;
            display: flex;
            gap: 10px;
        }
    }
}


@keyframes marquee {
    0% {
        transform: translateX(0)
    }

    100% {
        transform: translateX(-50%);
    }
}


h2 {
    font-size: 64px;
    display: block;
    margin-bottom: 10px;
    text-align: center;
    color: var(--base-800);
    padding: 30px;

    small {
        display: block;
        font-weight: 100;
        font-size: 2rem;
        color: var(--base);
    }

    @media (max-width:1024px) {
        font-size: 48px;

    }

}


h3 {
    font-size: 32px;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 20px;
    color: var(--base-800);
}


.skills {
    .holder-blue {
        background-color: var(--blue-100);
        border-radius: 30px;
        padding: 20px;
        display: flex;

        @media(max-width:1024px) {
            flex-direction: column;

        }

        .left-column {
            flex: 1;

            ul {
                list-style-type: none;
                gap: 10px;
                margin-right: 100px;
                margin-bottom: 20px;

                li {
                    display: inline-block;
                    background-color: var(--blue-400);
                    padding: 10px 20px;
                    border-radius: 15px;
                    margin-bottom: 10px;
                }
            }
        }

        .right-column {
            flex: 1;

            p {
                margin-bottom: 20px;
            }
        }
    }
}


.work-experience {
    .jobs {
        display: flex;
        gap: 30px;

        @media(max-width:1024px) {
            flex-direction: column;
        }

        article {
            background-color: var(--yellow-100);
            padding: 30px;
            border-radius: 30px;
            flex: 1;

            h3 {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            div {
                font-weight: 600;
                margin-bottom: 5px;
                color: var(--base-800);
            }

            p {
                margin-bottom: 10px;
            }

            figure {
                width: 100%;
                padding-top: 56.25%;
                overflow: hidden;
                position: relative;
                border-radius: 15px;

                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    object-fit: cover;
                    transition: ease 3s all;
                }

                figcaption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    background-color: rgba(0, 0, 0, 0.5);
                    color: var(--base-100);
                    text-align: center;
                    padding: 10px;
                    opacity: 0;
                    visibility: hidden;
                    transition: ease 0.3s all;
                }

                &:hover {
                    figcaption {
                        opacity: 1;
                        visibility: visible;
                    }

                    img {
                        transform: scale(1.2);
                    }
                }

            }
        }
    }
}







.project {
    .completed {
        display: grid;
        place-items: center;
        margin-inline: 1.5rem;
        /* padding-block: 5rem; */

        .card__container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 3.5rem;

            @media(max-width:1024px) {
                grid-template-columns: repeat(1, 1fr);

            }

            .card__article {
                position: relative;
                overflow: hidden;

                .card__img {
                    width: 100%;
                    border-radius: 1.5rem;
                }



                .card__data {
                    width: 60%;
                    background-color: var(--container-color);
                    padding: 1.5rem 2rem;
                    box-shadow: 0 8px 24px hsla(0, 0%, 0%, .15);
                    border-radius: 1rem;
                    position: absolute;
                    bottom: -9rem;
                    left: 0;
                    right: 0;
                    margin-inline: auto;
                    opacity: 0;
                    transition: opacity 1s 1s;



                    .card__title {
                        font-size: var(--h2-font-size);
                        font-weight: 500;
                        color: var(--title-color);
                    }

                    .card__description {
                        display: block;
                        font-size: var(--small-font-size);
                        margin-bottom: .25rem;
                    }

                    .card__button {
                        text-decoration: none;
                        font-size: var(--small-font-size);
                        font-weight: 500;
                        color: var(--first-color);
                    }

                    .card__button:hover {
                        text-decoration: underline;
                    }
                }


                &:hover {
                    animation: remove-overflow 2s forwards;

                    .card__data {
                        animation: show-data 1s forwards;
                        opacity: 1;
                        transition: opacity .3s;
                    }
                }

                &:not(:hover) {
                    animation: show-overflow 2s forwards;

                    .card__data {
                        animation: remove-data 1s forwards;
                    }

                }

            }

        }

    }

}



/* Card animation */
@keyframes show-data {
    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(-7rem);
    }
}

@keyframes remove-overflow {
    to {
        overflow: initial;
    }
}

@keyframes remove-data {
    0% {
        transform: translateY(-7rem);
    }

    50% {
        transform: translateY(-10rem);
    }

    100% {
        transform: translateY(.5rem);
    }
}

@keyframes show-overflow {
    0% {
        overflow: initial;
        pointer-events: none;
    }

    50% {
        overflow: hidden;
    }
}

/* =============== BREAKPOINTS ===============
/* For small devices */
/* @media screen and (max-width: 340px) {
    .container {
        margin-inline: 1rem;
    }

    .card__data {
        width: 250px;
        padding: 1rem;
    }
} */

/* For medium devices
@media screen and (min-width: 768px) {
    .card__container {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
    }
} */

/* For large devices */
/* @media screen and (min-width: 1120px) {
    .container {
        height: 100vh;
    }

    .card__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .card__img {
        width: 348px;
    }

    .card__data {
        width: 316px;
        padding-inline: 2.5rem;
    }
}  */

/*=============== BUTTON ===============*/
.btn {
    display: inline-block;
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: var(--white);
    padding: 0.9rem 2.5rem;
    font-size: var(--large-font-size);
    border-radius: 0.5rem;
    transition: all 0.5s ease;
}

.btn--transparent {
    background-color: transparent;
    color: var(--first-color);
}

/* Button hover */

.btn:hover {
    background-color: var(--first-color-dark);
    color: var(--white);
}


.container {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

.grid {
    display: grid;
    gap: 1.5rem;
}

.contact__container {
    grid-template-columns: 5fr 7fr;
    align-items: flex-start;
}


.contact__item {
    display: flex;
    align-items: flex-start;
    column-gap: 1.25rem;
}

.contact__item:not(:last-child) {
    margin-bottom: 2.5rem;
}


.contact__icon {
    color: var(--first-color);
    font-size: var(--large-font-size);
    line-height: 1.8;
}


.contact__title {
    font-size: var(--large-font-size);
}

.contact__data {
    font-size: var(--large-font-size);
}

.form__group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.25rem;
}

.input__control {
    color: var(--title-color);
    background-color: var(--yellow-100);
    border: 1px solid transparent;
    padding: 0.9rem .75rem;
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 1.25rem;
}

.textarea {
    height: 140px;
    resize: none;
}

.contact__btn {
    float: right;
}


/*=============== FOOTER ===============*/
.footer {
    background-color: var(--container-color);
    padding-block: 3rem;
}

/* .cvbtn{
      display: flex;
      gap: 1rem;
    } */

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__copyright {
    color: var(--text-color);
}

.footer__social-links {
    display: flex;
    column-gap: 1.25rem;
}

.footer__social-link {
    color: var(--text-color);
    font-size: var(--large-font-size);
}